<div class="header_container row">
    <div class="header_title col-xs-5 col-sm-6">
        <!--<ul class="col-xs-12">-->
        <ul>
            <a href="/">
                <li><img src="img/logo/codenamu-logo.svg" class="codenamu_logo"></li>
                <li><span class="header_sub_title">고위 공무원</span></li>
                <li><span class="header_sub_text">재산 프로젝트</span></li>
            </a>
        </ul>
    </div>    
    <div class="col-xs-7 col-sm-6">
        <ul class="header_menu">
            <li name="search"><a href="#">검색</a></li>
            <li name="data"><a href="#">데이터</a></li>
            <li name="introduce"><a href="#">소개</a></li>
            <li name="news"><a href="#">기사</a></li>
        </ul>
    </div>
</div>