<div class="content_container">
    <div class="content_title col-xs-12 col-sm-12">
        <div>고위 공무원</div>
        <div>재산 / 포트폴리오</div>
    </div>
    <div class="row">
        <div class="content_update col-xs-12 col-sm-12">마지막 업데이트, 2017년 4월 12일</div>
        <div class="col-xs-12 col-sm-12">
            <p class="content_introduce">
                정부에서 공개된 PDF를 엑셀 파일로 전환한 자료입니다.
                자유롭게 사용하시고, 혹시 잘못된 부분이 있다면 연락 주시기 바랍니다.
            </p>
        </div>
    </div>
    <div class="row">
        <table class="col-xs-12 download_table">
            <tr>
                <td class="download_year">2017년</td>
                <td class="download_name"><a href="/excel/2017_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2016년</td>
                <td class="download_name"><a href="/excel/2016_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2015년</td>
                <td class="download_name"><a href="/excel/2015_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2014년</td>
                <td class="download_name"><a href="/excel/2014_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2013년</td>
                <td class="download_name"><a href="/excel/2013_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2012년</td>
                <td class="download_name"><a href="/excel/2012_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2011년</td>
                <td class="download_name"><a href="/excel/2011_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
        </table>    
    </div>
    <div class="license_desc row">
        <div class="cols-xs-12 col-sm-6">
            <div class="intro_title">라이선스</div>
            <div class="intro_text">This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</div>
            <div class="intro_img"></div>
        </div>
        <div class="git_desc cols-xs-12 col-sm-6">
            <div class="intro_title">깃허브</div>
            <div class="intro_text">https://github.com/codenamu/official-assets-explorer-2017</div>
        </div>
    </div>
    <div class="site_desc row">
        <div class="cols-xs-12 col-sm-12 intro_title">크레딧</div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">데이터 가공</div>
                <div class="intro_name">김승범</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">디자인</div>
                <div class="intro_name">소원영</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">개발</div>
                <div class="intro_name">조용식</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">기획</div>
                <div class="intro_name">강현숙</div>
            </div>
        </div>
    </div>
</div>