<div class="content_container">
    <div class="content_title col-xs-12 col-sm-12">
        <div>고위 공무원</div>
        <div>재산 / 포트폴리오</div>
    </div>
    <div class="row">
        <div class="content_update col-xs-12 col-sm-12">마지막 업데이트, 2017년 4월 12일</div>
        <div class="col-xs-12 col-sm-7 content_introduce">
            <p>
                공직자들의 재산 공개는 공직자윤리법에 근거해 1993년 처음 시행됐습니다. 재산공개제도는 고위공직자의 재산을 투명하게 공개함으로써 부정부패를 예방하기 위한 제도입니다. 공직자윤리법에 따라 정부, 국회, 대법원, 헌법재판소, 중앙선거관리위원회 등에는 각각 공직자윤리위원회가 설치되어 있고 이들 공직자윤리위원회는 관보나 공보를 통해 고위공직자들의 재산 내역을 공개하고 있습니다. 하지만 일반적으로 시민들이 각 기관의 공보나 관보를 직접 찾아 공직자들의 재산형성 과정을 확인한다는 것은 어려운 일로, 정보가 각 기관마다 산발적으로 공개되고, 포맷이 조금씩 달라 검색하기도 쉽지 않습니다.
            </p>
            <p>
                이를 해결하기 위해 코드나무는 2016년부터 고위공지자의 재산 내역을 모아 쉽게 파악할 수 있는 다양한 프로젝트를 진행해 왔습니다. 뉴스타파와 2016년 데이터를 이용하여 웹사이트를 제작하였고, 2017년에는 중앙일보와 함께 다수의 기사 시리즈를 작업하였습니다. 웹사이트와 함께, 사이트 구축 시 이용했던 데이터를 엑셀 형태로 만들어 공개합니다. 자유롭게 사용하시고, 혹시 잘못된 부분이 있다면 <a href="mailto:contact@codenamu.org">여기</a>로 연락 주시기 바랍니다.
            </p>
        </div>
    </div>
    <div class="row">
        <table class="col-xs-12 download_table">
            <tr>
                <td class="download_year">2017년</td>
                <td class="download_name"><a href="/excel/2017_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2016년</td>
                <td class="download_name"><a href="/excel/2016_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2015년</td>
                <td class="download_name"><a href="/excel/2015_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2014년</td>
                <td class="download_name"><a href="/excel/2014_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2013년</td>
                <td class="download_name"><a href="/excel/2013_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2012년</td>
                <td class="download_name"><a href="/excel/2012_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
            <tr>
                <td class="download_year">2011년</td>
                <td class="download_name"><a href="/excel/2011_assets.xlsx">고위공직자 재산 데이터 다운로드(.xls)</a></td>
            </tr>
        </table>    
    </div>
    <div class="license_desc row">
        <div class="cols-xs-12 col-sm-6">
            <div class="intro_title">라이선스</div>
            <div class="intro_text"><a href="https://creativecommons.org/licenses/by-sa/2.0/kr/" target="_blank">크리에이티브 커먼즈 저작자표시-동일조건변경허락 2.0 대한민국 라이선스에 따라 이용할 수 있습니다.</a></div>
            <div class="intro_img"></div>
        </div>
        <div class="git_desc cols-xs-12 col-sm-6">
            <div class="intro_title">깃허브</div>
            <div class="intro_text"><a href="https://github.com/codenamu/official-assets-explorer-2017" target="_blank">https://github.com/codenamu/official-assets-explorer-2017</a></div>
        </div>
    </div>
    <div class="site_desc row">
        <div class="cols-xs-12 col-sm-12 intro_title">크레딧</div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">데이터 가공</div>
                <div class="intro_name">김승범</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">디자인</div>
                <div class="intro_name">소원영</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="intro_text">개발</div>
                <div class="intro_name">조용식</div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="intro_text">기획</div>
                <div class="intro_name">강현숙</div>
            </div>
        </div>
    </div>
</div>