<div class="content_container">
    <div class="content_title col-xs-12 col-sm-12">
        <div>고위 공무원</div>
        <div>재산 / 포트폴리오</div>
    </div>
    <div class="row">
        <div class="content_update col-xs-12 col-sm-12">마지막 업데이트, 2017년 4월 12일</div>
        <div class="col-xs-12 col-sm-12">
            <p class="content_introduce">
                다양한 미디어와 함께 작업한 기사들입니다.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="article col-xs-12 col-sm-7">
            <a href="http://news.joins.com/article/21442078">
                <div class="news_image"><img src="img/article/images_01.png" srcset="img/article/images_01@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">고위 공직자들이 사랑한 동네는?</div>
                <div class="news_sub_title">2017년 4월 5일, 중앙일보</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-5">
            <a href="http://news.joins.com/article/21415533">
                <div class="news_image"><img src="img/article/images_02.png" srcset="img/article/images_02@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">부모 잘 만났거나, 결혼을 잘 했거나</div>
                <div class="news_sub_title">2017년 3월 29일, 중앙일보</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-7">
            <a href="http://news.joins.com/article/21400830">
                <div class="news_image"><img src="img/article/images_03.png" srcset="img/article/images_03@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">고위 공직자, 상위 5%안데 드는 부자</div>
                <div class="news_sub_title">2017년 4월 2일, 중앙일보</div>
            </a>
        </div>
        <div class="article col-xs-12 col-sm-5">
            <a href="http://jaesan.newstapa.org/">
                <div class="news_image"><img src="img/article/images_04.png" srcset="img/article/images_04@2x.png 2x" class="codenamu_logo"></div>
                <div class="news_title">뉴스타파 고위 공직자 프로젝트</div>
                <div class="news_sub_title">2017년 4월 2일, 뉴스타파</div>
            </a>
        </div>
    </div>
</div>
    